body {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 40, 60);
}

.navigation {
    background-color: rgb(31, 40, 60);
    padding: 10px 150px;
    display: flex;
    justify-content: end;
}

.login {
    margin: 20px;
    color: white;
    display: flex;
    float: left;
    align-self: center;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.nitem {
    margin: 20px;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login:hover,
.nitem:hover {
    color: aqua;
}

.main {
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
}

.detail {
    color: white;
    padding: 10px;
    word-spacing: 3px;
    font-family: system-ui;
}

.social a {
    padding: 5px 10px;
    border: 2.5px solid aqua;
    border-radius: 100%;
    color: aqua;
    margin: 10px;
    font-size: 25px;
}

.social a:hover {
    box-shadow: 0 0 10px aqua;
    background-color: aqua;
    color: rgb(31, 40, 60);
}

.mainimage {
    display: flex;
    border-bottom: 10px solid aqua;
    border-radius: 10px;
    position: relative;
    justify-content: center;
}

.bgegg {
    background-color: aqua;
    width: 600px;
    height: 400px;
    transform: scale(0.6) rotate(5deg);
    border-radius: 400% 650% 300% 1000%;
    position: relative;
}

.mainimage:hover .bgegg {
    transform: rotate(180deg) scale(0.6);
    transition-duration: 3s;
}


.image {
    position: absolute;
    z-index: 10;
}

.main2 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.mainimage2 {
    display: flex;
    width: auto;
    height: 400px;
    margin: 60px;
    border-bottom: 10px solid aqua;
    border-radius: 10px;
    position: relative;
}

.bgball {
    position: absolute;
    filter: blur(4px);
    width: 61px;
    height: 61px;
    box-shadow: 0 0 50px aqua;
    background-color: aqua;
    border-radius: 100%;
    z-index: 1;
}

.mainimage2:hover .bgball {
    translate: 538px 340px;
    transition-duration: 7s;
}

.image2 {
    z-index: 5;
}

.mainimage2:hover {
    box-shadow: -5px -5px 10px black;
}

.aboutme {
    color: white;
    padding: 40px;
    font-family: system-ui;
    word-spacing: 3px;
}

.contact a i {
    color: aqua;
    padding: 5px;
    line-height: 20px;
    margin: 3px;
}

.headline {
    font-family: system-ui;
    color: white;
    display: grid;
    justify-content: center;
}

.services {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    height: auto;
    width: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: auto;
    height: auto;
    padding: 10px;
}

.box:hover {
    border: 2px solid aqua;
    box-shadow: 0 0 10px aqua;
    border-radius: 20px;
}

.sericon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    border-radius: 100%;
    background-color: rgb(37, 49, 73);
    color: aqua;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.serabout {
    display: flex;
    text-align: center;
    justify-content: start;
    flex-direction: column;
    width: 350px;
    height: auto;
    padding: 10px;
    color: white;
    font-family: system-ui;
}

.headline2 {
    color: white;
    font-family: system-ui;
    display: grid;
    justify-content: center;
}

.reviews {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    margin: auto;
    width: 935px;
}

.reviews::-webkit-scrollbar {
    background-color: rgb(37, 49, 73);
}

.reviews::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 5px;
}

.project {
    background-color: rgb(37, 49, 73);
    display: grid;
    scroll-snap-align: none start;
    overflow-y: hidden;
    grid-template-columns: 90px auto;
    width: 451px;
    height: 220px;
    padding: 20px;
}

.project img {
    border-radius: 100%;
    scale: 0.8;
}

.profilepic {
    width: 100px;
    height: 100px;
    align-items: center;
}

.project span {
    font-weight: bolder;
    color: white;
    font-size: 20px;
    font-family: system-ui;
}

.project i {
    color: aqua;
    margin: 5px;
}

.profilename {
    line-height: 25px;
    padding: 20px;
    width: 250px;
    height: 80px;
}

.profileabout {
    width: 400px;
    height: 140px;
    color: white;
    font-family: system-ui;
    word-spacing: 4px;
    padding: 10px;
}

.headline3 {
    color: white;
    font-family: system-ui;
    display: grid;
    justify-content: center;
}

.leavemsg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailmsg {
    display: grid;
    gap: 10px 70px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 55%;
    height: 200px;
    margin: auto;
}

.detailmsg .inputbox input {
    background-color: rgb(31, 40, 60);
    border-radius: 5px;
    border: 1px inset rgb(37, 49, 73);
    padding: 10px;
    height: 20px;
    width: 250px;
    color: white;
    font-size: 15px;
    font-family: system-ui;
}

.textarea {
    color: white;
    font-size: 15px;
    font-family: system-ui;
    padding-top: 10px;
    max-width: 600px;
    min-width: 600px;
    max-height: 200px;
    min-height: 200px;
    border-radius: 5px;
    border: 1px inset rgb(37, 49, 73);
    background-color: rgb(31, 40, 60);
}

.moremsg::placeholder {
    font-weight: 500;
    color: rgb(171, 171, 171);
}

.sendbtn button {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100px;
    height: 32px;
    font-size: 15px;
    letter-spacing: 5px;
    color: black;
    background-color: aqua;
    border-radius: 5px;

}

.sendbtn:hover button {
    box-shadow: 0 0 20px aqua;
    border: none;
    scale: 0.9;
}